
  .hero {
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .heroContent {
    display: flex;
    align-items: center;
  }
  
  .heroImage {
    margin-right: 20px;
    height: 212px;
    width: 212px;
  }
  
  .heroText p {
    margin-right: 20px;
    font-size: 32px;
    font-weight: 600;
  }
  